        <ul id="example-list" class="list-group">
          {{#each dataInfo}}
          <li>ID: {{this.id}}</li>
          <li>First Name:{{this.fname}}</li>
          <li>Last Name:{{this.lname}}</li>
          <li>Address: {{this.address}}</li>
          <li>Store Name:{{this.storeName}}</li>
          <li>description: {{this.description}}</li>
          <li>Pirce: $ {{this.price}}</li>
          <br>
          {{/each}}
          <h1>{{dataInfo.this.id}}</h1>
        </ul>
