<h1>{{dataInfo.fname}}</h1>
<h1>{{dataInfo.lname}}</h1>
<h1>{{dataInfo.email}}</h1>
<h1>{{dataInfo.address}}</h1>
<h1>{{dataInfo.storeName}}</h1>
<h1>{{dataInfo.QRcode}}</h1>
<h1>{{dataInfo.QRcode}}</h1>
