  <div class="w3-container" id="results-container">
      {{!-- title part --}}
      <div class="w3-container" id="profTitle">
        <img class="pull-left profPic" src={{dataInfo.img}} alt="hello">
        <div class="card-body" id= "masseuse-name">
        <h1 class="card-header">Full name: {{dataInfo.fname}} {{dataInfo.lname}}</h1>
        <h3>Store Name: {{dataInfo.storeName}}</h3>
        <h3>Address: {{dataInfo.address}}</h3>
        <h4>Price:  ${{dataInfo.price}}</h4>
        <p>Description: {{dataInfo.description}}</p>
        </div>
      </div>
     
    {{!-- details --}}
    <div class="w3-container w3-padding-16 pull-right">
        <div id="review-stuff" class="card-body">
          <h1 class="card-header">Product Reviews</h1>
          <div id="review-container">
            {{#each dataInfo.customerReviews}}
            <p>{{this.textReview}}</p>
            <small class="text-muted">Posted by <strong>{{this.fname}} {{this.lname}}</strong> on {{this.createdAt}}</small>
            <hr>
            {{/each}}
          <p> “Criticism is something we can avoid easily by saying nothing, doing nothing, and being nothing.” – Aristotle
          </p>
          <small class="text-muted">Posted by Anonymous on {{dataInfo.0.createdAt}}</small>
          <hr>
          {{!-- <a href="review" id="button" class="btn btn-secondary btn-lg btn-block">Leave a Review</a> --}}
        </div>
      </div>
    </div>
  </div>
</div>
</div>