<h1>results</h1>
 <ul id="example-list" class="list-group">
          {{#each dataInfo}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{id}}{{fname}}{{lname}}{{address}}</a>
            
          </li>
          {{/each}}
        </ul>