  <div class="w3-container" id="results-container">
      {{!-- title part --}}
      <div class="w3-container" id="profTitle">
        <img class="pull-left profPic" src={{dataInfo.img}} alt="hello">
        <div class="card-body" id= "masseuse-name">
        <h1 class="card-header">{{dataInfo.fname}} {{dataInfo.lname}}</h1>
        <h3>{{dataInfo.storeName}}</h3>
        <h4>$ {{dataInfo.price}}</h4>
        <p>{{dataInfo.description}}</p>
        </div>
      </div>
     
    {{!-- details --}}
    <div class="w3-container w3-padding-16 pull-right">
        <div class="card-body">
          <h1 class="card-header">Product Reviews</h1>
          <div id="review-container">
            {{#each dataInfo.customerReviews}}
            <p>{{this.textReview}}</p>
            <small class="text-muted">Posted by {{this.fname}} {{this.lname}} on {{this.createdAt}}</small>
            <hr>
            {{/each}}
          {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
            neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint
            natus.
          </p>
          <small class="text-muted">Posted by Anonymous on {{dataInfo.0.createdAt}}</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
            neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint
            natus.
          </p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
            neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint
            natus.
          </p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr> --}}
          {{!-- <a href="review" id="button" class="btn btn-secondary btn-lg btn-block">Leave a Review</a> --}}
        </div>
      </div>
    </div>
  </div>
   </div>
